body {
  background-color: black;
  overflow: hidden;
}

#pyramid {
  position: absolute;
  width: 600px;
  top: 108px;
  left: 300px;
  z-index: 15;
}
.palm {
  position: absolute;
  height: 200px;
  top: 180px;
  z-index: 10;
}

#sand {
  position: absolute;
  top: 370px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url(images/hieroglyphics.png);
  z-index: 20;
}

#moon {
  position: absolute;
  z-index: 5;
}

#stars {
  position: absolute;
  width: 200%;
}
